li {
    list-style: none;
    margin: 0.6em;
}

.btnAgregar {
    position: absolute;
    right: 0;
}

.liRegion {
    margin-left: 3em;
}

.liPais {
    margin-left: 7em;
}

.liCiudad {
    margin-left: 12em;
}


.headerRegiones {
    background: #1d72c2;
    color: white;
}
