* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@import "general";
@import "login";
@import "contactos";
@import "regiones";
